<div class="norm-rules">
  <div class="norm-rule norm-rule-highlight">
    <span class="norm-icon">ß</span>
    <div>
      <strong>Eszett ß</strong>
      <p>{{ norm_help.eszett }}</p>
      <ul class="norm-examples">
        <li>{{ norm_help.eszett_example_1 }}</li>
        <li>{{ norm_help.eszett_example_2 }}</li>
        <li>{{ norm_help.eszett_example_3 }}</li>
      </ul>
    </div>
  </div>
  <ul class="norm-list">
    <li><strong>Umlaute:</strong> {{ norm_help.umlauts }}</li>
    <li><strong>Buchstaben:</strong> {{ norm_help.letters }}</li>
    <li><strong>Originalschreibweise:</strong> {{ norm_help.original }}</li>
  </ul>
</div>
