{
  "python.defaultInterpreterPath": "${workspaceFolder}/Ge-Prime-Matrix/.venv/Scripts/python.exe",
  "python.analysis.extraPaths": ["${workspaceFolder}/Ge-Prime-Matrix"],
  "python.terminal.activateEnvironment": true,
  "terminal.integrated.cwd": "${workspaceFolder}/Ge-Prime-Matrix"
}
